.menu {
  padding: 0;
  margin-bottom: 2rem;
}
.menu h1 {
  text-align: center;
}
.menu ul {
  display: flex;
  gap: 0;
  font-size: 18px;
}
.menu ul:hover:after {
  content: "▶︎";
}
.menu ul:hover::before {
  content: "◀";
}
